In [2]:
import pandas as pd
"""
syntax - creating Dataframe
"""

In [20]:
# list 형태인 [4,5,6]은 series 이며, df 형태로 감싸줄수있음.

df = pd.DataFrame(
{"a" : [4 ,5, 6],
"b" : [7, 8, 9],
"c" : [10, 11, 12]},
index = [1, 2, 3])

df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [9]:
df['a']

1    4
2    5
3    6
Name: a, dtype: int64

In [24]:
# 2번 인덱스
df.loc[2] # 2행
df.loc[[1,2], ['a','b']] # 행, 열

   a  b
1  4  7
2  5  8

In [15]:
# 같은 방식, key가 아니라 컬럼으로 컬럼명 지정
df = pd.DataFrame(
[[4, 7, 10],
[5, 8, 11],
[6, 9, 12]],
index=[1, 2, 3],
columns=['a', 'b', 'c'])

df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [17]:
df = pd.DataFrame(
                    {"a" : [4 ,5, 6],
                    "b" : [7, 8, 9],
                    "c" : [10, 11, 12]},
                    index = pd.MultiIndex.from_tuples(
                    [('d',1),('d',2),('e',2)], 
                    names=['n','v'])
                    )

df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [32]:
"""
subset Observation(rows)
원 데이터 프레임에서 원하는 데이터 프레임 추출 
"""
df.b > 7 # df에서 a가 7보다 작은 데이터 가져오기

1    False
2     True
3     True
Name: b, dtype: bool

In [33]:
df[df.b > 7]

   a  b   c
2  5  8  11
3  6  9  12

In [35]:
df[df['c'] == 10 ]  # c가 10과 같은 값이 있냐

   a  b   c
1  4  7  10

In [38]:
df = pd.DataFrame(
                    {"a" : [4 ,5, 6,6],
                    "b" : [7, 8, 9,9],
                    "c" : [10, 11, 12,12]},
                    index = pd.MultiIndex.from_tuples(
                    [('d',1),('d',2),('e',2),('e',3)], 
                    names=['n','v'])
                    )

df.drop_duplicates() # 중복 데이터 제거

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [39]:
df # 중복 데이터 남아있음

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12
  3  6  9  12

In [40]:
df.drop_duplicates(inplace=True) # inplace 옵션
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [ ]:
# 일반적으로는 inplace 대신 이렇게 사용 
df = df.drop_duplicates()

In [43]:
df = pd.DataFrame(
                    {"a" : [4 ,5, 6,6],
                    "b" : [7, 8, 9,9],
                    "c" : [10, 11, 12,12]},
                    index = pd.MultiIndex.from_tuples(
                    [('d',1),('d',2),('e',2),('e',3)], 
                    names=['n','v'])
                    )

In [42]:
df = df.drop_duplicates(keep='last') # 중복된 데이터에서 마지막을 남김 
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 3  6  9  12

In [44]:
df.head()

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12
  3  6  9  12

In [45]:
df['b']!=7

n  v
d  1    False
   2     True
e  2     True
   3     True
Name: b, dtype: bool

In [46]:
df[df['b']!=7] # 7이아닌값을 df로 다시 감싸줌

     a  b   c
n v
d 2  5  8  11
e 2  6  9  12
  3  6  9  12

In [51]:
df.a.isin([5]) # isin은 list 형태만 전달가능
df["a"].isin([5]) # 같은 방식

n  v
d  1    False
   2     True
e  2    False
   3    False
Name: a, dtype: bool

In [56]:
import numpy as np
df = pd.DataFrame(
                    {"a" : [4 ,5, 6, 6, np.nan ],
                    "b" : [7, 8,  np.nan,9, 9],
                    "c" : [10, 11, 12, np.nan, 12]},
                    index = pd.MultiIndex.from_tuples(
                    [('d',1),('d',2),('e',2),('e',3),('e',4)], 
                    names=['n','v'])
                    )

pd.isnull(df) # null 값

         a      b      c
n v
d 1  False  False  False
  2  False  False  False
e 2  False   True  False
  3  False  False   True
  4   True  False  False

In [57]:
df['a'].isnull() # a컬럼만 null 값 있는지

n  v
d  1    False
   2    False
e  2    False
   3    False
   4     True
Name: a, dtype: bool

In [58]:
df['a'].isnull().sum() # a컬럼에 null 값 합

1

In [59]:
pd.notnull(df) # not null 인 값

         a      b      c
n v
d 1   True   True   True
  2   True   True   True
e 2   True  False   True
  3   True   True  False
  4  False   True   True

In [63]:
df.notnull() # 위와 같음

         a      b      c
n v
d 1   True   True   True
  2   True   True   True
e 2   True  False   True
  3   True   True  False
  4  False   True   True

In [ ]:
df.notnull().sum() # 합

* &,|,~,^,df.any(),df.all()
* and, or, not, xor, any, all

In [68]:
df["a"].notnull()

n  v
d  1     True
   2     True
e  2     True
   3     True
   4    False
Name: a, dtype: bool

In [75]:
~df["a"].notnull()

n  v
d  1    False
   2    False
e  2    False
   3    False
   4     True
Name: a, dtype: bool

In [77]:
# df[df.b == 7] and df[df.a == 5] 
df[df["b"] == 7] & df[df["a"] == 5]

TypeError: unsupported operand type(s) for &: 'float' and 'bool'